<div class="container">
  <div class="row">
  	<div class="col-2 text-center">
  		<h1>How Unique Are You?</h1>
  	</div>
  </div>
  <country-list></country-list>
  <footer class="panel footer">
    <div class="container-fluid" id="footerContainer">
      <p class="text-muted">All data from the 2016 edition of the CIA World Factbook.</p>
      <span class="text-muted">Designed and developed by <a href="https://github.com/johnsfleming" target="_blank">John Fleming</a></span>
    </div>
  </footer> 
</div>

