<div class="row">
  <div class="col-md-5">
    <h2>You are 1 in <span id="demographic">{{demographicToString(demographic)}}</span></h2>
    <form name="myForm">
      <label for="countrySelect"> Where do you live? </label>
      <select name="countrySelect" id="countrySelect" [(ngModel)]="demographic">
        <option [value]="world.population">
          {{world.name}}
        </option>
        <option 
          *ngFor="let country of countries"
          [value]="country.population">
          {{country.name}}
        </option>
      </select>
    </form>
  </div>
</div>
